<html>

<head>
    <link rel="stylesheet" href="../assets/style.css">
</head>

<body>
    <div class="pcs-template-footer">
        <div class="pcs-footer-content">
            <div class="page" title="Page 1">
                <div class="layoutArea">
                    <div class="column">
                        <p></p>
                        <div class="pcs-footer-text">
                            <div>
                                State Your business registration number and other Identifiers required on invoice
                            </div>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
